extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          |MekanBul
          small &nbsp; Isparta civarındaki mekanları keşfedin!
  .row
    each place in places
      .col-xs-12.col-sm-12
        .row.list-group
          .col-xs-12.list-group-item
            h4
              a(href='/mekan/') #{place.ad}
              small &nbsp;
              - for (var i = 0; i < place.puan; ++i) {
                  span.glyphicon.glyphicon-star
              - }
              - for (var i = place.puan; i < 5; ++i) {
                  span.glyphicon.glyphicon-star-empty
              - }
              
            span.badge.pull-right.badge-default #{place.mesafe}
            p.address #{place.adres}
            p
              each i in place.info
                span.label.label-warning #{i}
                | &nbsp;
          .col-xs-12.col-sm-12

    